.comments{
	font-size: 1.6rem;
	flex: 0 0 30%;
	&__item{
		position: relative;
		background-color: var(--color-grey-light-1);
		padding:  2rem;
		&::before{
			content: "\201C";
			position: absolute;
			top: -1rem;
	    	left: 0rem;
			font-size: 10rem;
			z-index: 1;
			line-height: 1;
			color: var(--color-grey-light-2);
			z-index: 1;
		}

	}
	////////////////////
	// text

	&__text{
		position: relative;
		z-index: 10;
	}
	////////////////
	/// Comment info

	&__info{
		display: flex;
		justify-content: space-between;
		align-items: center;


	}

	///////////////
	// User
	&__user-info{
		margin-right: auto;
	}

	&__user-name{
		
	}

	&__date{
		font-size: 0.8rem;
	}

	////////////////
	//// Comments photo 

	&__img{
		width: 4.5rem;
		border-radius: 50%;
		margin-right: 1rem;
	}
	&__user-name{
		font-size: 1.1rem;
    	font-weight: 600;
    	text-transform: uppercase;
    	margin-bottom: .4rem;
	}
	&__rating{
		color: var(--color-primary);
		font-size: 2.2rem;
	}
	

}