.details{
	display: flex;
	padding: 3rem;
	justify-content: space-between;
	@include respond(tab-port) {
        flex-direction: column;
    }
	//////////////////
	// Main settings
	&__main-info{
		padding: 3rem;
		background-color: var(--color-grey-light-1);
		flex: 0 0 60%;
		margin-bottom: 3rem;
		@include respond(tab-port) {
	        flex-direction: column;
	    }
	}

	//////////////////
	///// List
	&__list{
		padding: 3rem;
		font-size: 1.4rem;
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		flex: 0 0 50%;
		margin-bottom: 0.7rem;
	}	
}