.heading-primary{
	color: var(--color-grey-dark-1);
	font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
}
.heading-secondary{
	font-size: 2rem;
	font-weight: 300;
	text-transform: uppercase;
}
.paragraph{
	font-size: 1.4rem;
	margin-bottom: 2rem;
}