.py-1 { padding: 1rem 0; }

.py-2 { padding: 2rem 0; }

.py-3 { padding: 3rem 0; }

.py-4 { padding: 4rem 0; }

.py-left-rigth-small {
	padding: 0 1.6rem;
}
.py-left-rigth-normal{
	padding: 0 3rem;
}
.py-big{
	padding: 8rem 0;
	@include respond(tab-port) { 
		padding: 4rem 0;
    }
}
.my-0-auto{
	margin: 0 auto;
}
.my-1 { margin: 1rem 0; }

.my-2 { margin: 2rem 0; }

.my-3 { margin: 3rem 0; 
	@include respond(tab-port) {
	    margin: 2rem 0; 
	}

}

.my-4 { margin: 4rem 0; }

.my-big { margin: 8rem 0; 
	@include respond(tab-port) { 
		margin: 4rem 0; 
    }
}

.my-top-normal { margin-top: 5rem }

.my-right-6{ margin-right: 6rem; }

.my-bottom-small{ margin-bottom: 1.6rem; }

.my-bottom-3{ margin-bottom: 3rem; 
	@include respond(tab-port) { 
		margin-bottom: 1rem;
    }
}

.my-bottom-middle{ margin-bottom: 4rem; }

.my-bottom-big{ margin-bottom: 8rem; 
	@include respond(tab-port) { 
        margin-bottom: 4rem;
   	}
}


.u-center-text{ text-align: center;}

