.header{
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
    height: 7rem;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-3);
    background: var(--color-grey-light-1);
    &__logo-box{
		padding: 0 2rem;
    }
    &__logo{
    	height: 3.25rem;
    }
    &__icon{

    }

    
}