.header{
	display: flex;
	justify-content: space-between;
	font-size: 1.4rem;
    height: 7rem;
    align-items: center;
    border-bottom: 1px solid var(--color-grey-light-3);
    background: var(--color-grey-light-1);
    height: 100%;
    padding: 1rem 0;
    @include respond(phone) { // width < 900?
        flex-wrap: wrap;

    }
    &__logo-box{
		padding: 0 2rem;
    }
    &__logo{
    	height: 45px;
    }    
}